---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
	<a href="index.html"><Hero title="Erreur 404" tagline="Revenir à l'accueil" /></a>
</BaseLayout>
