---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="phone" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Maîtrise des réseaux sociaux</h2>
		<p>Connaître les spécificités de chaque plateforme (Instagram pour l’esthétique, Twitter pour l’instantanéité, LinkedIn pour le B2B) permet d’adapter le contenu au bon public.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="earth" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Veille et tendances</h2>
		<p>Surveiller les tendances TikTok, les nouveaux formats Instagram ou les mises à jour d’algorithmes permet de proposer un contenu toujours à jour et attractif.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="team" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Esprit d’équipe</h2>
		<p>Collaborer avec les graphistes pour harmoniser les visuels ou avec le service client pour répondre aux attentes des abonnés assure une communication fluide et impactante.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
